@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Redressed&display=swap');



* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lora', serif;
	background-color: #FFF0F5;
}


.header{
	background-color: #20B2AA;
	height: 300px;
	font-size: 100px;
	font-family: 'Lobster', cursive;
}

.navbar {
	float: center;
	background-color: #191970;
	width: 100%;
	display: inline-block;
	position: sticky;	
}

.navbar ul li {
	float: left;
	list-style: none;	
}


.navbar ul li a {
	color:white;
	text-decoration: none;
	padding: 20px;
	display: block;
	font-weight: bold;
}

.navbar ul li a:hover {
	background:white;
	color: black;
}



.center ul {
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	margin: auto;
}

.sidebar {
	width: 300px;
	height: 700px;
	padding: 5px;
	float: right;
}

}


.fotojudul {
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 400px;
}

.fotojudul2 {
	display:block;
	margin-left: auto;
	margin-right: auto;
	height: 350px;
	width: 235px;
	
}
.katakata {
	font-family: 'Libre Baskerville', serif;
	padding: 10px;
	text-align: center;
	font-size: 200%;
}

.paragrafA {
	padding: 20px;
	font-family:  'Lora', serif;
	text-align: justify;
}
.fotodalam {
	padding: 30px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 300px;
	
}

.fotodalam2 {
	padding: 10px;
	float: right;
	margin: 10px;
	height: 350px;
	width: 300px;
	padding-bottom: 20px;
	float: center;
}

.paragrafB {
	font-family: 'Redressed', cursive; 
	padding: 10px; 
	text-align: justify;
}

.box {
	width: 1150px;
	border: 10px solid;
	padding: 10px;
	margin: 20px;
}


table {
	font-family: 'Lora', serif;
	color: black;
	border: 1px solid red;
	margin: 20px;
	border-collapse: collapse;
	padding: 20px;
	text-align: center;
}

table th, td {
	padding: 10px;
}

table tr:hover {
	background-color:#f2f2f2;
}
tabel tr:nth-child(even) {
	background-color: #f2f2f2;
}
	
.flex-contener {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
}

.colom {
	float: left;
	width: 25%;
}

@media screen and (max-width: 629px) {
	.colom {
		width:100%;
	}
}

footer {
	background-color: #FF69B4;
	padding: 5px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}



